{% macro check(label='') -%}
    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">{{ label }}</label>
    </div>
{%- endmacro %}

{% macro dropdown(placeholder='') -%}
    <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#">
            {{ placeholder }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{ placeholder }}</a>
            <a class="dropdown-item" href="#">{{ placeholder }}</a>
        </div>
    </div>
{%- endmacro %}

{% macro input(label='', form_group=False, label_col='', input_col='') -%}
    {% if form_group %}
        <div class="form-group">
    {% endif %}
    <div class="row">
        <div class="col{{ '-' + label_col if label_col else '' }}">
            <label class="form-label">{{ label }}</label>
        </div>
        <div class="col{{ '-' + input_col if input_col else '' }}">
            <input type="text" class="form-control">
        </div>
    </div>
    {% if form_group %}
        </div>
    {% endif %}
{%- endmacro %}

{% macro button(label='') -%}
    <button type="submit" class="btn btn-primary">{{ label }}</button>
{%- endmacro %}