{% macro check(label='') -%}
    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">{{ label }}</label>
    </div>
{%- endmacro %}

{% macro dropdown(placeholder='', label='') -%}
    <div class="input-group">
        {% if label %}
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-0" id="basic-addon1">{{ label }}</span>
            </div>
        {% endif %}
        <div class="dropdown">
            <button class="btn bg-transparent dropdown-toggle pl-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ placeholder }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">{{ placeholder }}</a>
                <a class="dropdown-item" href="#">{{ placeholder }}</a>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro input(label='', form_group=False, label_col='', input_col='') -%}
    {% if form_group %}
        <div class="form-group">
    {% endif %}
    <div class="row">
        <div class="col{{ '-' + label_col if label_col else '' }}">
            <label class="form-label">{{ label }}</label>
        </div>
        <div class="col{{ '-' + input_col if input_col else '' }}">
            <input type="text" class="form-control">
        </div>
    </div>
    {% if form_group %}
        </div>
    {% endif %}
{%- endmacro %}

{% macro button(label='') -%}
    <button type="submit" class="btn btn-primary">{{ label }}</button>
{%- endmacro %}

{% macro orders_list(label, max_orders=4) %}
    <div class="container mx-auto my-4">
        <h1 class="text-center">{{ label }}</h1>

        <div class="row justify-content-between">
            <div class="col-auto">
                {{ dropdown('Все', 'раздел:') }}
            </div>
            <div class="col-auto">
                {{ dropdown('Новосибирск и область', 'регион:') }}
            </div>
        </div>

        {% for _ in range(max_orders) %}
            <div class="card border-0">
                <div class="card-body border-top border-dark">
                    <div class="row mb-4">
                        <div class="col">
                            <span class="text-left">вчера, в 21:30</span>
                        </div>
                        <div class="col text-right">
                            <a href="#">в закладки</a>
                        </div>
                    </div>
                    <p class="card-text">60 шт. ПК от 72-15 до ПК 21-15, Криводановка, с доставкой.</p>
                    <p class="card-text">Алексей</p>
                    {{ button('Показать телефон') }}
                    <span class="ml-3">12 просмотров</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}